<!-- in views/player1turn.erb -->
<%= $game.player_1.name %> vs. <%= $game.player_2.name %><br>
<%= $game.player_2.name %>: <%= $game.player_2.hit_points %>hp
<%= $game.current_turn.name%>'s turn
<br>
<form action="/attack">
  <input type="submit" value="Attttack!!">
</form>